@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* background-colors; */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    /* colors */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    /* content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;
    /* border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
    /* fonts */
    font-family: Inter, sans-serif;
    font-size: 16px;
}

* {
    background-color: var(--background-primary);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 60%;
}

.container {
    width: 50%;
    margin: 0 auto;
    max-width: 568px;
}

.logo {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

#title h2{
    margin-top: 0;
    font-size: 27px;
    font-weight: bolder;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#newItem {
    border-radius: 8px;
    padding-left: 20px;
    width: 400px;
    height: 35px;
    border-color: var(--border-primary);
    color: var(--content-primary);
    border-style: solid;
    justify-content: center;
    font-size: 14px;
    background-color: #FFFFFF;
    outline: none;
    max-width: 568px;
}

#newItem:hover {
    border-color:var(--border-hover);
}

#newItem:focus::placeholder {
    color:var(--content-primary);
}

#newItem:focus {
    border-color:var(--color-danger);
    border-style: solid;
}

#submit {
    border-radius: 10px;
    width: 150px;
    height: 37px;
    background-color: var(--color-brand);
    border-color: var(--background-primary);
    border-style: none;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer; 
}

#submit:hover {
    border-color: var(--color-brand-hover);
}

label {
    background-color: var(--background-secondary);
}

.list-co {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul {
    margin-top: 20px;
    padding-left: 0 ;
    list-style: none;
}

li {
    display: flex;
    margin: 0 0 10px 0;
    background-color: var(--background-secondary);
    height: 40px;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    max-width: 568px;
}

#text2 {
    width: 480px;
    background-color: var(--background-secondary);
    padding-left: 2px;
    font-size: 16px;
}


.custom-checkbox input[type="checkbox"] {
    display: none;
  }
  

.custom-checkbox .checkmark {
    width: .4px;
    height: 16px;
    background-color: var(--always-white);
    border-radius: 6px; 
    border-width: 1px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.2s ease;
  }
  

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color:   var(--color-brand);
    border-color: var(--color-brand);
  }
  

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .strikethrough {
    text-decoration: line-through;
    color:var(--color-brand);
  }

label span {
    font-size: small;
    margin: 0 7px 0 10px;
    padding: 0 10px 0 7px;
    background-color: var(--background-secondary);
    color:var(--background-secondary);
    border-color: var(--border-primary);
    border-style: solid;
    border-radius: 7px;

}

label span:hover {
    border-color: var(--border-hover);
    background-color: var(--background-secondary);
}

label .active{
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    background-image: url(Img/state=selected.svg);
    background-size: cover;
    background-position: center;
}

.remove-icon {
    transition: all .5s;
    background-color: var(--background-secondary);
    padding-right: 15px;
}

.remove-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.warningAlert {
    max-width: 568px;
}

#warning:not(img){
    display: flex;
    align-items: center;
    background-color: var(--color-danger);
    border-radius: 10px;
    height: 50px;
    padding-left: 40px;
    gap: .5rem;
    color: #FFFFFF;
}
#warning img:first-of-type{
    position: relative;
    right: 145px;
    background-color: var(--color-danger);
}

#warning img {
    background-color: var(--color-danger);
}

#close {
    position: relative;
    left: 245px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: var(--content-secondary);
    width: 100vw;
    padding: 1px 0;
    margin-bottom: 0;
  }
  
  footer p {
    font-size: 16px;
    color: var(--t);
    text-align: center;
    margin: 1px 0;
    background-color: var(--content-secondary);
    color: var(--background-primary);
  }
  
  footer span {
    color: var(--background-primary);
    font-size: 16px;
    margin-bottom: 0;
    background-color: var(--content-secondary);
  }

/* @media only screen and (max-width: 600px) {
    #text2 {
        width: 190px;
    }

    #newItem {
        max-width: 150px;
    }

    #warning img:first-of-type {
        right: 245px;
    }

    #warning:not(img){
        width: 258px;

    }
} */

@media only screen and (max-width: 600px) {
    .container {
        width: 70%;
        margin: 0 auto;
        max-width: 700px;
    }
    
    h2 {
        font-size: 1px;
    }


    #text2 {
        width: 483px;
    }

    form {
        gap: 20px;
    }

    .search {
        padding: 0 0;
    }

    #newItem {
        /* max-width: 100px; */
        width: 700px;
    }

    #submit {
        font-weight: 500;
        width: 130px;
    }

    .remove-icon {
        padding-right: 15px;
    }

    #warning img:first-of-type {
        right: 145px;
    }

    #warning:not(img){
        width: 235px;
    }

    footer {
        max-width: 600px;
    }
}
